<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <h2>Welcome to our test of your JS skills</h2>

    <br>
    <br>
    <p>
      Your application is ready.
      <br>
      You can start working on it.
    </p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">What's next?</h1>
      <ol>
        <li>
          At <a ui-sref="user({id: 123})">{{ $ctrl.getSchemeAndHttpHost() }}users/123</a> You can find the user detail template.
          <br>
          This template should be used in the user list
          <br>
        </li>
        <li>
          Create a simple user list. It should look like this
          <br>
          <a href="assets/images/user-list.png" target="_blank">
            <img src="assets/images/user-list.png" width="424" height="241">
          </a>:
          <ul>
            <li>
              display all available users from API <code>{{ $ctrl.getSchemeAndHttpHost() }}api/users</code>
            </li>
            <li>
              users with property <code>star = true</code> should be above users with <code>star = false</code>
            </li>
            <li>
              make the remove icon (<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>) clickable -> it should remove a user from the list (there's no need to remove it using API)
            </li>
            <li>
              make the star icon (<span class="glyphicon glyphicon-star" aria-hidden="true"></span>/<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>) clickable -> it toggles a user's `star` property
            </li>
            <li>
              phone number should be formatted to XXX-XXX-XXX
            </li>
          </ul>
        </li>
        <li>
          Add a <code>select</code> dropdown with options to sort users by:
          <ul>
            <li>first name</li>
            <li>last name</li>
            <li>position</li>
          </ul>
        </li>
      </ol>

      <br>
      <br>

      <h2>Extra points?</h2>
      <ol>
        <li>
          create a form that allows adding new users to the list (it'd be nice if it pops up in a modal window)
        </li>
        <li>
          create a user removal confirmation (alert or better modal)
        </li>
      </ol>

      <br>
      <br>

      <h2>Is that too easy for you?</h2>
      <ol>
        <li>
          use the local storage functionality for data persistence:
          <ul>
            <li>bootstrap API data on app load (if any data exists don't update them)</li>
            <li>removed users should not exist after page reload (until someone clears the local storage)</li>
            <li>added new users should be visible after page reload (until someone clears the local storage)</li>
            <li>create a button which clears the local storage</li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>
